* {
  box-sizing: border-box;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #111, #1f1f1f);
}

.login-card {
  width: 380px;

  padding: 40px;

  background: #fff;

  border-radius: 20px;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.logo-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.gym-logo {
  width: 70px;
  height: 70px;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #e63946;
  color: white;

  font-weight: bold;
  font-size: 20px;
}

h1 {
  margin-top: 15px;

  text-transform: capitalize;

  font-size: 25px;
}

.logo-wrapper p {
  color: #777;
  font-size: 14px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;

  margin-bottom: 8px;

  font-size: 14px;

  font-weight: 600;
}

input {
  width: 100%;

  padding: 12px 14px;

  border-radius: 10px;

  border: 1px solid #ddd;

  outline: none;
}

input:focus {
  border-color: #e63946;
}

.password-box {
  position: relative;
}

.password-box input {
  padding-right: 45px;
}

.eye-btn {
  position: absolute;

  right: 10px;
  top: 50%;

  transform: translateY(-50%);

  border: none;

  background: none;

  cursor: pointer;

  color: #777;
}

.remember {
  margin: 15px 0;

  font-size: 14px;
}

.remember input {
  width: auto;
  margin-right: 8px;
}

.login-btn {
  width: 100%;

  padding: 13px;

  border: none;

  border-radius: 10px;

  background: #e63946;

  color: white;

  font-weight: bold;

  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.9;
}
